<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" xmlns:gz="http://gazebosim.com/schema">

  <!-- Front / back camera -->
  <xacro:macro name="robot_camera" params="suffix parent xyz rpy fov:=1.2 width height pixel_format encoder_hw_device encoder_bit_rate encoder_thread_count encoder_input_pixel_format anti_aliasing depth:=false fps:=60 depth_fps:=30 bb_fps:=20 bounding_boxes:=false">
    <link name="camera_link_${suffix}">
      <visual>
        <origin rpy="0 0 ${pi}"/>
        <geometry>
          <mesh filename="package://simbot_gz/meshes/camera.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0.01" rpy="0 0 0"/>
        <geometry>
          <box size="0.035 0.09 0.03"/>
        </geometry>
      </collision>
    </link>

    <joint name="camera_joint_${suffix}" type="fixed">
      <parent link="${parent}" />
      <child link="camera_link_${suffix}" />
      <origin xyz="${xyz}" rpy="${rpy}" />
      <axis xyz="0 0 1"/>
    </joint>

    <link name="camera_optical_frame_${suffix}" />

    <joint name="camera_optical_joint_${suffix}" type="fixed">
      <parent link="camera_link_${suffix}" />
      <child link="camera_optical_frame_${suffix}" />
      <origin xyz="0.012 0.03 0.015" rpy="-${pi/2.0} 0 -${pi/2.0}"/>
    </joint>

    <gazebo reference="camera_optical_frame_${suffix}">
    
      <sensor name="camera_${suffix}" type="camera">
        <gz_frame_id>camera_optical_frame_${suffix}</gz_frame_id>
        <pose>0 0 0 0 -${pi/2.0} ${pi/2.0}</pose>
        <always_on>true</always_on>
        <update_rate>${fps}</update_rate>
        <visualize>false</visualize>
        <topic>rgb_${suffix}/raw</topic>
        <camera>
          <camera_info_topic>rgb_${suffix}/camera_info</camera_info_topic>
          <camera_h264_topic>rgb_${suffix}/h264</camera_h264_topic>
          <horizontal_fov>${fov}</horizontal_fov>
          <encoder_hw_device>${encoder_hw_device}</encoder_hw_device>
          <encoder_bit_rate>${encoder_bit_rate}</encoder_bit_rate>
          <encoder_input_pixel_format>${encoder_input_pixel_format}</encoder_input_pixel_format>
          <encoder_thread_count>${encoder_thread_count}</encoder_thread_count>
          <bounding_boxes>${bounding_boxes}</bounding_boxes>
          <image>
            <width>${width}</width>
            <height>${height}</height>
            <format>${pixel_format}</format>
            <anti_aliasing>${anti_aliasing}</anti_aliasing>
          </image>
          <clip>
            <near>0.001</near> <!-- less than collider to prevent seeing through walls -->
            <far>100</far>
          </clip>
        </camera>
      </sensor>

      <!-- BB camera -->
      <xacro:if value="${bounding_boxes}">
        <sensor name="bb_camera_${suffix}" type="boundingbox_camera">
          <gz_frame_id>camera_optical_frame_${suffix}</gz_frame_id>
          <always_on>true</always_on>
          <pose>0 0 0 0 -${pi/2.0} ${pi/2.0}</pose>
          <update_rate>${bb_fps}</update_rate>
          <visualize>true</visualize>
          <topic>bb_${suffix}/this_must_be_here</topic>
          <camera>
            <topic2d>detections/${suffix}/boxes_2d</topic2d>
            <topic3d>detections/${suffix}/boxes_3d</topic3d>
            <box_type>2d+3d</box_type>
            <horizontal_fov>${fov}</horizontal_fov>
            <image>
              <width>${width/10}</width>
              <height>${height/10}</height>
            </image>
            <clip>
              <near>0.001</near>
              <far>4</far>
            </clip>
          </camera>
        </sensor>
      </xacro:if>

    </gazebo>

    <!-- Depth camera -->
    <xacro:if value="${depth}">
      <link name="depth_camera_optical_frame_${suffix}" />

      <joint name="depth_camera_optical_joint_${suffix}" type="fixed">
        <parent link="camera_link_${suffix}" />
        <child link="depth_camera_optical_frame_${suffix}" />
        <origin xyz="0.012 -0.03 0.015" rpy="-${pi/2.0} 0 -${pi/2.0}"/>
      </joint>

      <gazebo reference="depth_camera_optical_frame_${suffix}">
        <sensor name="depth_camera_${suffix}" type="depth_camera">
          <gz_frame_id>depth_camera_optical_frame_${suffix}</gz_frame_id>
          <pose>0 0 0 0 -${pi/2.0} ${pi/2.0}</pose>
          <always_on>true</always_on>
          <update_rate>${depth_fps}</update_rate>
          <visualize>false</visualize>
          <topic>depth_${suffix}/raw</topic>
          <camera>
            <camera_info_topic>depth_${suffix}/camera_info</camera_info_topic>
            <horizontal_fov>${fov}</horizontal_fov>
            <image>
              <width>640</width>
              <height>480</height>
            </image>
            <clip>
              <near>0.1</near> <!-- smaller produces rendering errors -->
              <far>10</far>
            </clip>
          </camera>
        </sensor>
      </gazebo>
    </xacro:if>

  </xacro:macro>

  <!-- top down camera that moves in z direction -->
  <xacro:macro name="top_down_camera" params="suffix parent xyz rpy width height pixel_format encoder_hw_device encoder_bit_rate encoder_thread_count encoder_input_pixel_format anti_aliasing fps:=30">
    <link name="camera_link_${suffix}"/>

    <joint name="camera_joint_${suffix}" type="fixed">
      <parent link="${parent}" />
      <child link="camera_link_${suffix}" />
      <origin xyz="${xyz}" rpy="${rpy}" />
    </joint>

    <gazebo reference="camera_link_${suffix}">
      <sensor name="camera_${suffix}" type="camera">
        <gz_frame_id>camera_link_${suffix}</gz_frame_id>
        <pose>0 0 0 0 -${pi/2} ${pi/2}</pose>
        <always_on>true</always_on>
        <update_rate>${fps}</update_rate>
        <visualize>false</visualize>
        <topic>rgb_${suffix}/raw</topic>
        <camera>
          <camera_info_topic>rgb_${suffix}/camera_info</camera_info_topic>
          <camera_h264_topic>rgb_${suffix}/h264</camera_h264_topic>
          <horizontal_fov>1.2</horizontal_fov>
          <encoder_hw_device>${encoder_hw_device}</encoder_hw_device>
          <encoder_bit_rate>${encoder_bit_rate}</encoder_bit_rate>
          <encoder_input_pixel_format>${encoder_input_pixel_format}</encoder_input_pixel_format>
          <encoder_thread_count>${encoder_thread_count}</encoder_thread_count>
          <image>
            <width>${width}</width>
            <height>${height}</height>
            <format>${pixel_format}</format>
            <anti_aliasing>${anti_aliasing}</anti_aliasing>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
        </camera>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>

