<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <gazebo>
    <plugin filename="libgz-sim-sensors-system.so"
      name="gz::sim::systems::Sensors">
      <engine>ogre2</engine>
      <render_engine>optix</render_engine>
    </plugin>
    <plugin name="gz::sim::systems::Imu" filename="gz-sim-imu-system" />
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find simbot_gz)/config/controller_config_simbot.yaml</parameters>
    </plugin>
  </gazebo>
</robot>
