<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <gazebo>

    <plugin  name="gz::sim::systems::Sensors" filename="libgz-sim-sensors-system.so">
      <render_engine>ogre2</render_engine>
    </plugin>

    <plugin name="gz::sim::systems::Imu" filename="gz-sim-imu-system" />

    <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="gz_ros2_control-system">
      <parameters>$(find simbot_gz)/config/controller_config_simbot.yaml</parameters>
    </plugin>

   

  </gazebo>
</robot>
