<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" xmlns:gz="http://gazebosim.com/schema">
  <!-- <xacro:include filename="$(find simbot_gz)/urdf/simbot_mecanum_waffle/simple_wheel.urdf.xacro"/> -->
  <xacro:include filename="$(find simbot_gz)/urdf/simbot_mecanum_waffle/mecanum_wheel.urdf.xacro"/>
  <xacro:include filename="$(find simbot_gz)/urdf/simbot_mecanum_waffle/cameras.urdf.xacro"/>
  <xacro:include filename="$(find simbot_gz)/urdf/simbot_mecanum_waffle/lidar.urdf.xacro"/>
  <xacro:include filename="$(find simbot_gz)/urdf/simbot_mecanum_waffle/range_sensor.urdf.xacro"/>
  <xacro:include filename="$(find simbot_gz)/urdf/simbot_mecanum_waffle/imu.urdf.xacro"/>

  <xacro:property name="base_visual_offset" value="-0.064 0 0.097"/>
  <xacro:property name="base_collision_offset" value="-0.064 0 0.097"/>
  <xacro:property name="base_collision_box_size" value="0.266 0.266 0.094"/>
  <xacro:property name="wheel_z_offset" value="0.047"/>
  <xacro:property name="front_wheel_x_offset" value="0.025"/>
  <xacro:property name="rear_wheel_x_offset" value="-0.12"/>
  <xacro:property name="left_wheel_y_offset" value="0.157"/>
  <xacro:property name="right_wheel_y_offset" value="${-left_wheel_y_offset}"/>

  <xacro:arg name="camera_top_z" default="2.0"/>

  <xacro:arg name="cameras_pixel_format" default="RGB_INT8"/>
  <xacro:arg name="encoder_hw_device" default="cuda"/>
  <xacro:arg name="encoder_bit_rate" default="1000000"/>
  <xacro:arg name="encoder_input_pixel_format" default=""/>
  <xacro:arg name="encoder_thread_count" default="2"/>

  <xacro:macro name="base_link" params="parent xyz rpy">
    <link name="base_link">
      <visual>
      <origin xyz="${base_visual_offset}" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://simbot_gz/meshes/simbot_base.dae" scale="1 1 1"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="${base_collision_offset}" rpy="0 0 0"/>
        <geometry>
          <box size="${base_collision_box_size}"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="3.0" />
        <inertia 
          ixx="0.9" ixy="0.0" ixz="0.0"
          iyy="0.9" iyz="0.0"
          izz="0.01"/>
      </inertial>
    </link>

    <joint name="base_joint" type="fixed">
      <parent link="${parent}" />
      <child link="base_link" />
      <origin xyz="${xyz}" rpy="${rpy}" />
    </joint>

    <!-- Wheels -->
    <!-- Front Left -->
    <xacro:mecanum_wheel parent="base_link" suffix="fl"
                        xyz="${front_wheel_x_offset} ${left_wheel_y_offset} ${wheel_z_offset}" 
                        rpy="0 0 0"/>

    <!-- Front Right -->
    <xacro:mecanum_wheel parent="base_link" suffix="fr"
                        xyz="${front_wheel_x_offset} ${right_wheel_y_offset} ${wheel_z_offset}" 
                        rpy="0 0 0"/>

    <!-- Rear Left -->
    <xacro:mecanum_wheel parent="base_link" suffix="rl"
                        xyz="${rear_wheel_x_offset} ${left_wheel_y_offset} ${wheel_z_offset}" 
                        rpy="0 0 0"/>

    <!-- Rear Right -->
    <xacro:mecanum_wheel parent="base_link" suffix="rr"
                        xyz="${rear_wheel_x_offset} ${right_wheel_y_offset} ${wheel_z_offset}" 
                        rpy="0 0 0"/>
    <!-- Robot cameras -->
    <xacro:robot_camera parent="base_link" suffix="front" fov="1.5"
      pixel_format="$(arg cameras_pixel_format)"
      encoder_hw_device="$(arg encoder_hw_device)"
      encoder_bit_rate="$(arg encoder_bit_rate)"
      encoder_thread_count="$(arg encoder_thread_count)"
      encoder_input_pixel_format="$(arg encoder_input_pixel_format)"
      xyz="0.07 -0.0000 0.1030" rpy="0 0 0"
    />
    <xacro:robot_camera parent="base_link" suffix="back"
      pixel_format="$(arg cameras_pixel_format)"
      encoder_hw_device="$(arg encoder_hw_device)"
      encoder_bit_rate="$(arg encoder_bit_rate)"
      encoder_thread_count="$(arg encoder_thread_count)"
      encoder_input_pixel_format="$(arg encoder_input_pixel_format)"
      xyz="-0.195 0.0000 0.1030" rpy="0 0 3.14159"
    /> <!-- pixel_format="L8" -->

    <!-- Top-Down camera as moving camera -->
    <xacro:top_down_camera parent="base_link" suffix="top"
      pixel_format="$(arg cameras_pixel_format)"
      encoder_hw_device="$(arg encoder_hw_device)"
      encoder_bit_rate="$(arg encoder_bit_rate)"
      encoder_thread_count="$(arg encoder_thread_count)"
      encoder_input_pixel_format="$(arg encoder_input_pixel_format)"
      xyz="0.0 0.0 $(arg camera_top_z)" rpy="${pi} 0 -${pi/2}"
    />

    <xacro:lidar parent="base_link" suffix="1" xyz="0.0000 0.0000 .1510" rpy="0 0 0"/>
    <xacro:imu parent="base_link" suffix="1" xyz="0 0 0" rpy="0 0 0"/>
    <xacro:range_sensor parent="base_link" suffix="fr" xyz="0.065 -0.10 0.08" rpy="0.0 0.0 -0.187"/>
    <xacro:range_sensor parent="base_link" suffix="fl" xyz="0.065 0.10 0.08" rpy="0.0 0.0 0.187"/>
    <xacro:range_sensor parent="base_link" suffix="rr" xyz="-0.19 -0.10 0.08" rpy="0.0 0.0 ${3.1416+0.187}"/>
    <xacro:range_sensor parent="base_link" suffix="rl" xyz="-0.19 0.10 0.08" rpy="0.0 0.0 ${3.1416-0.187}"/>


  </xacro:macro>
</robot>
