<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <gazebo>
    <plugin filename="libgz-sim-sensors-system.so"
      name="ignition::gazebo::systems::Sensors">
      <engine>ogre2</engine>
      <render_engine>optix</render_engine>
    </plugin>
    <plugin name="gazebo::sim::systems::Imu" filename="libgz-sim-imu-system.so" />
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find simbot_gz)/config/controller_configs/controller_config_4w_mecanum_waffle.yaml</parameters>
      <ros>
        <remapping>~/odometry:=/odom</remapping>
        <remapping>~/reference_unstamped:=/cmd_vel</remapping>
	<remapping>~/tf_odometry:=/tf</remapping>
      </ros>
    </plugin>
  </gazebo>
</robot>
